.search{
    border: solid black;
    border-radius: 10px;
    width: 70%;
    margin-left: 15vw;
    margin-top: 5vh;

}


.search-ticket{
    /* border: solid black; */
    display: flex;
    margin-left: 2vw;
}

.search .search-ticket i{
    /* border: solid black; */
    align-items: center;
    margin-left: 10px;
    margin-top: 3px;
}

.destination{
    /* border: solid black; */
    display: flex;
    margin-left: 3vw;

}

.departure-select{
    width: 30vw;
    height: 5vh;
    /* border: solid black; */
}

.vice-versa{
    margin-top: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.vice-versa img{
    width: 2vw;
    height: fit-content;
    cursor: pointer;

}

.arrival-select{
    width: 30vw;
    height: 5vh;
    /* border: solid black; */
}

.detail{
    display: flex;
    margin-left: 1vw;
    margin-bottom: 2vh;
    justify-content: space-around;
}

.date-picker{
    display: flex;
    width: 10vw;
}



.arrival-date{
    margin-left: 3%;
}

.form-check-input{
    width: 1em;
    height: 1em;
}

.passenger {

    align-items: center;
    margin-left: 3%;
  }

.quantity{
    display: flex;
}

.adult{
    width: 95%;
}

#adultTicket{
    width: 35%;
    height: 5vh;
}

#childTicket{
    width: 35%;
    height: 5vh;
}

#btn-search{
    border-radius: 40px;
    margin-top: 2vh;
    margin-left: 1vw;
    border: none;
    cursor: pointer;
    width: 12vw;
    height: 8vh;
    color: white;
    font-weight: bolder;
    font-size: 1.5vw;
    background: rgb(128,0,32);
    background: linear-gradient(90deg, rgba(128,0,32,1) 0%, rgba(255,0,64,1) 100%);

}


.head-container{
    color: aliceblue;
    background: radial-gradient(98.41% 1275.49% at 0.64% 96.15%, #800020 0%, #FF0040 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 12px;

    width: 95%;

    margin-left: 2vw;
    margin-top: 3vh;

    padding: 10px;
    padding-left: 5vw;

    height: 12vh;
}

.train-cont{
    border: 2px solid black;
    border-radius: 10px;

    height: 32vh;
    width: 95%;

    margin-left: 2vw;
    margin-top: 3vh;

    padding: 20px;
}

.big-text{
    font-size: 24px;
    font-weight: 600;
}

.small-text{
    font-size: 16px;
    font-weight: 500;

    color: #646464;
}

#train-name{
    font-size: 30px;
}

#train-name, #train-class{
    margin-left: 4vw;
}

#dep-head, #dep-time, #dep-station{
    position: relative;
    top: 5.5vh;
    left: 1vw;
}

#arr-head, #arr-time, #arr-station{
    position: relative;
    top: -5.5vh;
    left: 16vw;
}

#est-head, #est-time, #est-type{
    position: relative;
    top: -17vh;
    left: 31vw;
}

.price{
    position: absolute;
    margin-left: 70vw;
    margin-top: -6vh;

    background: linear-gradient(90deg, #800020 0%, #FF0040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-weight: 700;
    font-size: 36px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer .btn-link {
    color: #fff;
    text-decoration: none;
}