@import url('https://fonts.googleapis.com/css?family=Inter');

.infogerbong{
    position: relative;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    /* padding-top: 5vw; */
}

.picgerbong{
    padding-top: 6vh;
    position: relative;
    text-align: center;
}

p{
    margin:25px;
    text-align: justify;
}

.column {
    margin-top: 3vh;
    float: left;
    width: 50%;
}

.row{
    margin-bottom: -95vh;
    margin-left: 30vh;
    margin-right: 30vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer .btn-link {
    color: #fff;
    text-decoration: none;
}
