@import url('https://fonts.googleapis.com/css?family=Inter');

.kontener {
    top: 5vh;
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;

    border-style: outset;
    border-radius: 48px;

    background-color: white;
    
    filter: drop-shadow(2px 4px 10px rgba(244, 47, 96, 0.5));
    padding: 50px 40px 50px;

    margin-bottom: -87vh;
}

.kontener .form-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 39px;
    padding-bottom: 25px;

    /* background: radial-gradient(118.5% 779.09% at 0% 48.72%, #6E001B 1%, #FF0040 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-fill-color: transparent; */

    background: radial-gradient(118.5% 779.09% at 0% 48.72%, #6E001B 1%, #FF0040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.kontener .form-group-list {
    font-weight: bold;
}

.kontener .form-control {
    font-weight: 400;
}

.for-button {
    text-align: center;
}

/* Focused Inputs */
input[type="text"]{border: 1px solid black;}
input[type="text"]:focus {border: 3px solid black;outline: none;}

input[type="email"]{border: 1px solid black;}
input[type="email"]:focus {border: 3px solid black;outline: none;}

input[type="password"]{border: 1px solid black;}
input[type="password"]:focus {border: 3px solid black;outline: none;}

#button1 {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    background: radial-gradient(135% 2304% at 0% -20%, #800020 4.3%, #FF0040 100%);
    border-radius: 28px;
    color: white;
    border: none;
}

#button1:hover {
    text-shadow: 1px 1px 10px white;
    box-shadow: 1px 1px 10px red;
}

.kontener #formFooter {
    text-align: center;
    font-size: 16px;
}

#underlineHover {
    font-weight: bold;
    text-decoration: underline;
}

a#underlineHover:link,
a#underlineHover:visited {
    color: #FF0040;
}

a#underlineHover:hover {
    color: #FF0040;
    text-shadow: 1px 1px 10px red;
}

a#underlineHover:active {
    color: #FF0040;
}

/* Navbar */
/* .navbar {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.navbar img {
    height: 40px;
    width: auto;
}

.navbar-toggler {
    border: none;
    outline: none;
} */

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer .btn-link {
    color: #fff;
    text-decoration: none;
}

/* Responsive */

@media (max-width: 576px) {
    .kontener {
        padding: 30px;
    }

    .kontener .form-title {
        font-size: 24px;
    }

    #button1 {
        width: 100%;
    }

    footer .container {
        text-align: center;
    }
}